<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Juke</title>
    <link href="/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="/bootstrap-dark.css" rel="stylesheet" />
    <link href="/style.css" rel="stylesheet" />
    <script src="/angular/angular.js"></script>
    <script src="./js/module.js"></script>
  </head>
  <body ng-app="juke" ng-controller="jukeController">
    <div id="main" class="container-fluid">

      <div class="col-xs-2">
        <sidebar>
          <img src="juke.svg" class="logo" ng-click="clickTest()">
          <section>
            <h4 class="playlist-item active">
              <a href="#">ALBUMS</a>
              {{number}}
            </h4>
          </section>
        </sidebar>
      </div>

      <div class="col-xs-10" ng-controller="apiMusic">
        <div class="album">
    <p>
        <h3>{{album.name}}</h3>
        <img src="https://upload.wikimedia.org/wikipedia/en/thumb/b/b2/Moby-ambient.jpg/220px-Moby-ambient.jpg" class="img-thumbnail">
    </p>
    <table class='table'>
        <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Artists</th>
                <th>Genres</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="song in album.songs" ng-class="{active: currentSongId === song._id}">
                <td>
                    <button class="btn btn-default btn-xs" ng-class="{activebutton: currentSongId === song._id}" ng-click="start(song._id)">
                        <span class="glyphicon glyphicon-play"></span>
                    </button>
                </td>
                <td>{{song.name}}</td>
                <td>{{getArtistsNames(song.artists)}}</td>
                <td>{{song.genres.join(", ")}}</td>
            </tr>
        </tbody>
    </table>
</div>
      </div>


      <footer></footer>

    </div>
  </body>
</html>
